body {
	background-image: url("../img/whiteboard.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}
/* Start of Column CSS */
#container5 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-width: 0px 2px 0px 2px;
	border-color: #0000CC;
	border-style: solid;
	background:transparent; /* column 5 background colour */
}
#container4 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	border-width: 0px 2px 0px 2px;
	border-color: #0000CC;
	border-style: solid;
	background:transparent; /* column 4 background colour */
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	border-width: 0px 2px 0px 2px;
	border-color: #0000CC;
	border-style: solid;
	background:transparent; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	text-align:center;
	border-width: 0px 2px 0px 2px;
	border-color: #0000CC;
	border-style: solid;
	background:transparent; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:20%;
	text-align:center;
	border-width: 0px 2px 0px 2px;
	border-color: #0000CC;
	border-style: solid;
	background:transparent; /* column 1 background colour */
}
#col1 {
	float:left;
	width:16%;
	position:relative;
	left:82%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:16%;
	position:relative;
	left:86%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:16%;
	position:relative;
	left:90%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:16%;
	position:relative;
	left:94%;
	overflow:hidden;
}
#col5 {
	float:left;
	width:16%;
	position:relative;
	left:98%;
	overflow:hidden;
}

.page_title {
    font-family: 'Kirang Haerang';
	font-size: 1.8em;
	padding-top: 1em;
	text-transform:uppercase;
	text-align: center;
}
.column-title {
	color: #0000CC;
	text-transform:uppercase;
	font-family: 'Kirang Haerang';
	font-size: 1.5em;
}
.task {
  display: inline-block;
  vertical-align: middle;
  line-height:40px 
}
.updated {
	font-family: 'Finger Paint';
	text-align: center;
	color: #212121;
	text-decoration: none;
	color: red;
	font-weight: bold;
	line-height: 15px;
}
.subtitle {
	font-size: .7em;
	text-align: center;
	font-family: 'Finger Paint';
}
.taskdiv {
	font-family: 'Finger Paint';
	height: 40px;
	width: 275px;
	background-image: url("../img/yellow.png");
	background-size: 100% 100%;
	vertical-align:  center;
	text-align: center;
	position: relative;
	font-size: .6em;
	text-align: center;
	color: #212121;
	margin:0;
}
.taskhide {
	background: transparent;
	background-image: none !important;
	height: 40px;
	width: 275px;
}
.hidetext {
	display: none;
}
.taskred {
	background-image: url("../img/red.png");
}
.taskorange {
	background-image: url("../img/orange.png");
}
.taskgreen {
	background-image: url("../img/green.png");
}
.taskpink {
	background-image: url("../img/pink.png");
}
.taskltblue {
	background-image: url("../img/ltblue.png");
}
.taskblue{
	background-image: url("../img/blue.png");
}
.taskpurple {
	background-image: url("../img/purple.png");
}